In [0]:
import pandas as pd

In [0]:
!pip install langdetect

Collecting langdetect
  Downloading https://files.pythonhosted.org/packages/59/59/4bc44158a767a6d66de18c4136c8aa90491d56cc951c10b74dd1e13213c9/langdetect-1.0.7.zip (998kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 1.0MB 4.7MB/s
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from langdetect) (1.12.0)
Building wheels for collected packages: langdetect
  Building wheel for langdetect (setup.py) ... done
  Created wheel for langdetect: filename=langdetect-1.0.7-cp36-none-any.whl size=993460 sha256=eff8f4dbaf443563709dcdf75cc7d4bbdcf601ff4f10f775d4c6ea4a55446a83
  Stored in directory: /root/.cache/pip/wheels/ec/0c/a9/1647275e7ef5014e7b83ff30105180e332867d65e7617ddafe
Successfully built langdetect
Installing collected packages: langdetect
Successfully installed langdetect-1.0.7

In [0]:
from textblob import TextBlob

In [0]:
import langdetect

In [0]:
df = pd.read_csv("Temp3.csv")

In [0]:
df.drop("Unnamed: 0", inplace = True, axis = 1)

In [0]:
df.tail()

                     Time           Name  ... Length          Location
1161  2019-09-08 06:30:04    NatGeoIndia  ...    272             India
1162  2019-09-08 06:30:11   Jayanth_TNIE  ...    219             India
1163  2019-09-08 06:30:12  j5ponnurangam  ...    157  TamilNadu.India.
1164  2019-09-08 06:30:14    Sksahoo1234  ...    132            India
1165  2019-09-08 06:30:16       hitpuma1  ...     45               NaN

[5 rows x 6 columns]

In [0]:
lang = []
count = 0
for i in df['Text']:
  if i != 'üôèüèª':
    if langdetect.detect(i) == 'hi':
      text = TextBlob(i).translate(to = 'en')
      text = str(text)
      df["Text"] = df["Text"].replace(i, text)
      count = count +1

In [0]:
df.to_csv("FinalDataSet.csv")