In [1]:
import pandas as pd

In [19]:
import sqlite3
import re

In [32]:
import string
import matplotlib.pyplot as plt

In [33]:
import seaborn as sns

In [34]:
#matplotlib inline

In [71]:
database = sqlite3.connect("ISRO.db")

In [72]:
cur = database.cursor()

In [73]:
sql = "SELECT * from Tweetss"
cur.execute(sql)

In [74]:
english_tweet = []
tweet_len = []
Time = []
Name = []
Tweet_status = []
Location = []

In [75]:
count = 0
while True:
    record = cur.fetchone()
    if record[4] == None:
        break
    temp = ''.join(record[4])
    english_tweet.append(temp)
    tweet_len.append(len(temp))
    Time.append(record[0])
    Name.append(record[1])
    Tweet_status.append(record[2])
    try:
        loc = ''.join(record[3])
        Location.append(loc)
    except:
        Location.append("NaN")
    count = count + 1

TypeError: 'NoneType' object is not subscriptable

In [76]:
count

1695

In [96]:
tweet_df = pd.DataFrame(data =list(zip(Time, Name, Tweet_status, english_tweet,tweet_len, Location)), columns = ['Time','Name','Tweet_status','Text', 'Length','Location'])

In [97]:
tweet_df.drop_duplicates(subset="Text", inplace = True)

In [98]:
tweet_df['Text'] = tweet_df['Text'].str.replace('http\S+|www.\S+', '', case=False)

In [99]:
text_df = []
emoji_pattern = re.compile("["
                           u"\U0001F600-\U0001F64F"  # emoticons
                           u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                           u"\U0001F680-\U0001F6FF"  # transport & map symbols
                           u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                           u"\U00002702-\U000027B0"
                           u"\U000024C2-\U0001F251"
                           "]+", flags=re.UNICODE)
for i in tweet_df['Text']:
    text_df.append(emoji_pattern.sub(r'', i))

In [100]:
count = 1
for i in text_df:
    
    tweet_df.replace({'Text', count}, i, inplace = True)
    count= count +1

In [103]:
tweet_df['Text'] = tweet_df['Text'].str.replace('@\S+', '', case=False)

In [104]:
tweet_df['Text'] = tweet_df['Text'].str.replace("[^a-zA-Z#]", " ")

In [105]:
tweet_df.head()

,Time,Name,Tweet_status,Text,Length,Location
0,2019-09-09 10:11:34,pun_naughtyy,Retweet,Space is hard We commend attempt to land the...,245,Delhi
1,2019-09-09 10:11:34,ajeet0910,Retweet,Now that Vikram has been spotted in one piece ...,137,"New Delhi, India"
2,2019-09-09 10:11:35,murali772,Retweet,Meaningful words Nothing is a failure in scie...,288,Bangalore
3,2019-09-09 10:11:36,kansalsubodh,Retweet,Vikram lander is not broken Sigh of hope ...,109,New Delhi
4,2019-09-09 10:11:36,urjagan,Retweet,#Vikram is there as a single piece It s in a ...,187,"Rajahmundry, India"

In [106]:
def text_processing(nopunc = ''):
    nostop = [word for word in nopunc.split() if word.lower() not in stopwords.words('english')]
    nostop = ' '.join(nostop)
    string = [word for word in nostop.split() if nostop ]
    return nostop

In [107]:
tweet_df['Text'] = tweet_df['Text'].apply(text_processing)

In [43]:
from nltk.corpus import stopwords

In [45]:
len(tweet_df)

487

In [46]:
import langdetect

In [47]:
from textblob import TextBlob

In [108]:
lang = []
count = 0
for i in tweet_df['Text']:
    try:
        if langdetect.detect(i) == 'hi':
            text = TextBlob(i).translate(to = 'en')
            text = str(text)
            df["Text"] = df["Text"].replace(i, text)
    except:
        print(i)
    count = count +1

In [52]:
i

''

In [109]:
count

487

In [110]:
tweet_df.drop_duplicates(subset= "Text", inplace=True)

In [111]:
len(tweet_df)

406

In [176]:
tweet_df.to_csv("training_set4.csv")

In [162]:
senti = []
for i in tweet_df['Text']:
    senti.append(TextBlob(i).sentiment)

In [174]:
tweet_df = pd.read_csv("training_set3.csv")

In [157]:
type(i)

int

In [163]:
print((tweet_df['Name'][27]))
#tweet_df.drop("Unnamed: 0",axis = 1,inplace = True )

SoulTweety

In [164]:
senti_df = pd.DataFrame(senti, columns = ['polarity', 'subjectivity'])

In [165]:
tweet_df =pd.concat([tweet_df, senti_df],axis =1)

In [166]:
status = []
for i in tweet_df['polarity']:
    if i<0:
        status.append("negative")
    else:
        status.append("positive")

In [167]:
tweet_df['polarity'] = status

In [168]:
tweet_df['Name'][10]

'ShamChavan13'

In [154]:
print(len(status))
print(len(tweet_df))

406
406

In [170]:
tweet_df.head()

,Unnamed: 0,Time,Name,Tweet_status,Text,Length,Location,polarity,subjectivity
0,0,09-09-19 10:11,pun_naughtyy,Retweet,Space hard commend attempt land #Chandrayaan m...,245,Delhi,negative,0.333333
1,1,09-09-19 10:11,ajeet0910,Retweet,Vikram spotted one piece come #ISRO entire cou...,137,"New Delhi, India",positive,0.625000
2,2,09-09-19 10:11,murali772,Retweet,Meaningful words Nothing failure scientific ex...,288,Bangalore,negative,0.437500
3,3,09-09-19 10:11,kansalsubodh,Retweet,Vikram lander broken Sigh hope Let keep finger...,109,New Delhi,negative,0.400000
4,4,09-09-19 10:11,urjagan,Retweet,#Vikram single piece tilted position official ...,187,"Rajahmundry, India",negative,0.214286

In [171]:
temp_len = []
for i in tweet_df['Text']:
    temp = i.split()
    temp_len.append(len(temp))

In [175]:
tweet_df['Length'] = temp_len